@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
*{
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
img{
    user-select: none;
}
.navbar{
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 10000;
    background: rgba(0, 0, 0 , .1);
}
header{
    width: 100%;
    height: 100vh;
}
header ul li {
    list-style: none;
    display: inline-block;
}
header ul li a {
    display: inline-block;
    color: black;
    font-weight: 700;
    font-size: 18px;
    margin-right: 25px;
    margin-top: 16px;
    padding: 5px 10px 4px 10px;
    text-decoration: none;
    user-select: none;
    opacity: 0;
    animation: slide_bottom 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--i));
}
header ul{
    float: right;
}
@keyframes slide_bottom {
    0% {
        transform: translateY(-30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide_left{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide_top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide_right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
li.nav-item.active a{
    color: #38b8e9;
    border-bottom: 2px solid #38b8e9;
}
li a:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #f8dbc2;
    border-radius: 5px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.5);
}
.nav-item.color-2.active{
    color: #f8dbc2;
}
#Home{
    background: #f8dbc2;
}
#home-img{
    position: absolute;
    max-width: 960px;
    height: 540px;
    float: right;
    top: calc(50vh - 270px);
    right: 1vw;
    opacity: 0;
    animation: fade_in 0.5s linear forwards;
    animation-delay: 1.9s;
}
h2 {
    position: absolute;
    float: left;
    left: 50px;
    top: 20px;
    opacity: 0;
    animation: slide_left 0.5s linear forwards;
    animation-delay:0.2s;
}
.main {
    position: absolute;
    float: left;
    left: 5vw;
    top: calc(50vh - 60px);
    height: 200px;
    width: 600px;
}
.main h1 {
    font-size: 45px;
    letter-spacing: 3px;
    opacity: 0;
    animation: slide_top 0.5s linear forwards;
    animation-delay: 1.4s;
}
h1 span {
    color:#38b8e9;
}
.About{
    height: 100vh;
    width: 100%;
    background: #292c7a;
}
.About-img {
    position: relative;
    top: calc(50vh - 210px);
    float: left;
    left: 5vw;
}
.About img{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: 6px black solid;
    opacity: 0;
}
.About img.active{
    animation: slide_top 0.5s linear forwards;
    animation-delay:0.2s;
}
.About-text{
    position: relative;
    float: right;
    right: 5vw;
    width: 50vw;
    top: calc(50vh - 250px);
    opacity: 0;
}
.About-text.active{
    animation: slide_bottom 0.5s linear forwards;
    animation-delay:0.2s;
}
.About h1 {
    color: #f8dbc2;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#About-text-first {
    text-align: center;
    margin-bottom: 100px;
}
.About-color{
    color: #38b8e9;
}
.Skills{
    height: 100vh;
    width: 100%;
    background: #f8dbc2;
}
.texts {
    position: relative;
    width: 55vw;
    margin: auto;
    top: 10vh;
    font-weight: 600;
}
.texts div{
    opacity: 0;
}
.texts.active div{
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.2s * var(--x));
}
.web-design{
    color: black;
}
.texts h1{
    display: table;
    border-bottom: 2px solid black;
}
.web-design p {
    padding-top:10px;
    font-size: 20px;
    margin-top: 20px;
}
.web-design p a {
    text-decoration: none;
    color: #38b8e9;
    padding: 0;
    margin: 0;
}
.web-design p a:hover {
    color: #38b7e9af;
}
.Languages h1 {
    border-bottom: 2px solid black;
    display: table;
}
.Languages p {
    margin-top: 20PX;
}
.arabic , .turkish , .english{
    border: 1px solid #38b8e9;
    width: 20vw;
    margin: 5px 0px;
    height: 35px;
    border-radius: 5px;
    color: white;
}
.Languages div div span {
    float: right;
}
.arabic-level{
    width: calc(100% - 10px);
    background: #38b8e9;
    height: 25px;
    padding: 5px;
}
.turkish-level{
    width: calc(80% - 10px);
    background: #38b8e9;
    height: 25px;
    padding: 5px;
}
.english-level{
    width: calc(65% - 10px);
    background: #38b8e9;
    height: 25px;
    padding: 5px;
}

#Contact{
    height: 100vh;
    background: #292c7a;
}
.contact-div-h1 {
    position: relative;
    top: 20vh;
}
.Contact h1{
    margin: auto;
    display: table;
    color: #f8dbc2;
    text-align: center;
}
.my-info{
    position: relative;
    margin: auto;
    width: 300px;
    top: 20vh;
    align-items: center;
    text-align: center;
    color: #f8dbc2;
}
.social-media{
    position: relative;
    margin: auto;
    text-align: center;
    width: 300px;
    top: 22vh;
}
.social-media span{
    margin: 0 5px;
}
#Contact a img {
    height: 30px;
    width: 30px;
}
#Contact a img:hover {
    opacity: 0.8;
}
.my-info div{
    width: 300px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}
.my-info div img{
    height: 60px;
    width: 60px;
    float: left;
}
.my-info div h3{
    margin: 15px;
}
.my-info div:last-child{
    border-bottom: 2px solid #f8dbc2;
}
.Contact div span {
    opacity: 0;
}
.anima{
    opacity: 0;
}
.contact-div.active .anima {
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.3s * var(--z));
}
.contact-div.active span {
    animation: slide_top 0.5s linear forwards;
    animation-delay: calc(0.3s * var(--a));
}
/* Responsive css */
@media only screen and (max-width: 960px) {
    #home-img{
        max-width: 580px;
        height: 370px;
        float: right;
        top: calc(50vh + 35px);
        right: 1vw;
    }
    .About img{
        width: calc(420px * 75 / 100);
        height: calc(420px * 75 / 100);
        left: 4vw;
    }
    .About h1 {
        font-size: 25px;
    }
    .arabic , .turkish , .english{
        width: 30vw;
    }
}

@media only screen and (max-width: 820px) {
    .About img{
        top: 15vh;
    }
    .About-text {
        top: 50vh ;
    }
    .texts {
        width: 75vw;
    }
}
@media only screen and (max-width: 720px) {
    .navbar h2 {
        position: static;
        width: 100vw;
        margin-top: 2px;
    }
    .navbar ul {
        position: relative;
        width: 100vw;
        float: left;
    }
    .navbar {
        text-align: center;
        height: auto;
    }
    .navbar ul li a{
        margin: 0px 1vw;
    }
    .main h1 {
        font-size: 25px;
        width: 70vw;
    }
    .main {
        width: 80vw;
        top: 30vh;
    }
    #home-img {
        top: auto;
        bottom: 0;
    }
    .About-img {
        width: 100vw;
        text-align: center;
        top: 11vh;
        left: auto;
    }
    .About img{
        float: none;
        left: unset;
        height: 275px;
        width: 275px;
    }
    .About-text {
        width: 90vw;
        margin: auto;
        top: 20vh;
        padding: 5px;
        float: none;
        right:unset;
    }
    .About-text h1 {
        font-size: 1em;
    }
    #About-text-first{
        margin-bottom: 5vh;
    }
    .arabic , .turkish , .english{
        width: 50vw;
        height: 27px;
        font-weight: 400;
        font-size: 0.85em;
    }
    .arabic-level , .turkish-level , .english-level {
        height: 17px;
    }
    .hobbies div {
        width: 80px;
        
    }
    .hobbies div h3 {
        font-size: 1.1em;
    }
    .texts {
        width: 85vw;
    }
    .web-design p {
        padding-top: 0px;
    }
    .texts div p  , .texts div h1{
        font-size: 0.9em;
    }
    .hobbies img {
        height: 35px;
        width: 35px;
    }
    .contact-div {
        font-size: 0.85em;
    }
}